#element-wrapper {
  width: 100%;
  height: calc(24% - 1px);
  border: solid 1px white;
  display: flex;
  margin-bottom: 1%;
}

#image-wrapper {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#image {
  width: 80%;
  height: 80%;
  border-radius: 15px 15px;
}

#details-wrapper {
  height: 100%;
  width: 55%;
}

#title {
  display: flex;
  align-items: center;
  width: 90%;
  height: 35%;
  font-size: 2vw;
  border: none;
  color: white;
  font-family: 'Fredoka One', cursive;
  background-color: transparent;
  resize: none;
}

#description {
  height: 55%;
  width: 95%;
  border: none;
  resize: none;
  font-size: 1.5vw;
  background-color: transparent;
  font-family: 'Kalam', cursive;
  color: rgb(182, 174, 174);
}

#date {
  width: 15%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Neucha', cursive;
  font-size: 1.3vw;
  color: rgb(182, 174, 174);
}

#delete-button-wrapper {
  height: 100%;
  width: 10%;
  position: relative;
}

#price {
  width: 90%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Neucha', cursive;
  font-size: 1.3vw;
  color: rgb(182, 174, 174);
}

#delete-button {
  position: absolute;
  bottom: 15%;
  right: 10%;
  height: 35%;
  width: 110%;
  background-color: rgb(179, 110, 26);
  font-size: 0.8vw;
  font-weight: bold;
  font-family: 'Fredoka One', cursive;
  border-radius: 15px 15px;
}
