#display-image-wrapper {
  display: flex;
  height: 20%;
  width: 80%;
  margin-top: 0.5vw;
  display: flex;
}

#display-image {
  width: 20%;
  height: 90%;
  border: solid 2px rgb(12, 12, 12);
  border-radius: 15px 15px;
}

#uploade-image {
  display: flex;
  align-items: center;
  height: 100%;
}
